.section3{
    background-color:#0D1117;
    padding-top:120px;
    height:100vh;
    font-family:"Playfair Display", serif;
}

.section3-contents{
    justify-content:center;
    text-align:center;
    padding-bottom:30px;
}
.facility-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-left:60px;
}
.facility-p{
    color:rgb(237, 187, 47);
    font-size:15px;
}
.facility-h1{
    color:white;
    font-size:50px;
    padding-bottom:30px;
}
.facility-cards h3{
    color:rgb(237, 187, 47);
    padding-bottom:30px;
}
.facility-cards i{
    color:rgb(237, 187, 47);
    font-size:35px;
}
.infinity-pool{
    border: 1px solid rgb(237, 187, 47);
    border-radius:25px;
    width:250px;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;

    padding:20px;
}
.pool-class{
    border:1px solid rgb(237, 187, 47);
    width:80px;
    height:80px;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.infinity-pool:hover{
    box-shadow:0 20px 40px rgba(237,186,47,.487);
    transition:box-shadow .7s ease;
}
.luxury-spa{
    border: 1px solid rgb(237, 187, 47);
    border-radius:25px;
    width:250px;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;

    padding:20px;
}
.luxury-spa:hover{
    box-shadow:0 20px 40px rgba(237,186,47,.487);
    transition:box-shadow .7s ease;
}
.spa-class{
    border:1px solid rgb(237, 187, 47);
    width:80px;
    height:80px;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.fine-dining:hover{
    box-shadow:0 20px 40px rgba(237,186,47,.487);
    transition:box-shadow .7s ease;
}
.fine-dining{
    border: 1px solid rgb(237, 187, 47);
    border-radius:25px;
    width:250px;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;

    padding:20px;
}
.dining-class{
    border:1px solid rgb(237, 187, 47);
    width:80px;
    height:80px;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.fitness-center:hover{
    box-shadow:0 20px 40px rgba(237,186,47,.487);
    transition:box-shadow .7s ease;
}
.fitness-center{
    border: 1px solid rgb(237, 187, 47);
    border-radius:25px;
    width:250px;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;

    padding:20px;
}
.fitness-class{
    border:1px solid rgb(237, 187, 47);
    width:80px;
    height:80px;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.kids-club:hover{
    box-shadow:0 20px 40px rgba(237,186,47,.487);
    transition:box-shadow .7s ease;
}
.kids-club{
    border: 1px solid rgb(237, 187, 47);
    border-radius:25px;
    width:250px;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;

    padding:20px;
}
.kids-class{
    border:1px solid rgb(237, 187, 47);
    width:80px;
    height:80px;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.wifi:hover{
    box-shadow:0 20px 40px rgba(237,186,47,.487);
    transition:box-shadow .7s ease;
}
.wifi{
    border: 1px solid rgb(237, 187, 47);
    border-radius:25px;
    width:250px;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;

    padding:20px;
}
.wifi-class{
    border:1px solid rgb(237, 187, 47);
    width:80px;
    height:80px;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.airport-transfer:hover{
    box-shadow:0 20px 40px rgba(237,186,47,.487);
    transition:box-shadow .7s ease;
}
.airport-transfer{
    border: 1px solid rgb(237, 187, 47);
    border-radius:25px;
    width:250px;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;

    padding:20px;
}
.airport-class{
    border:1px solid rgb(237, 187, 47);
    width:80px;
    height:80px;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.room-service:hover{
    box-shadow:0 20px 40px rgba(237,186,47,.487);
    transition:box-shadow .7s ease;
}
.room-service{
    border: 1px solid rgb(237, 187, 47);
    border-radius:25px;
    width:250px;

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;

    padding:20px;
}
.room-class{
    border:1px solid rgb(237, 187, 47);
    width:80px;
    height:80px;
    border-radius:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
